<form name="container-form" class="mt-4" method="POST" action="/courses/handle-form-actions">
    <div>
        <h3>My courses</h3>
        {{#if deletedCount}}
        <a href="/me/trash/courses">Trash can ({{deletedCount}})</a>
        {{/if}}

        <div class="mt-4 d-flex align-items-center">
            <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
                <option value="">--- Select option ---</option>
                <option value="delete">Delete</option>
            </select>

            <button class="btn btn-primary btn-sm btn-check-all-submit" disabled>Perform</button>
        </div>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <td scope="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                    </div>
                </td>
                <th scope="col">STT</th>
                <th scope="col">
                    Id
                    {{{sortable '_id' _sort}}}
                </th>
                <th scope="col">
                    Name
                    {{{sortable 'name' _sort}}}
                </th>
                <th scope="col">
                    Description
                    {{{sortable 'description' _sort}}}
                </th>
                <th scope="col" colspan="2">
                    Created At
                    {{{sortable 'createdAt' _sort}}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this._id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
                    <a href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#deleteModal">Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    You have not posted any courses yet.
                    <a href="/courses/create">Create course</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- confirm delete course --}}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete course?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cance</button>
                <button type="button" id="btn-delete-course" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form id="delete-course-form" method="POST">
</form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let counseId, isCheckedAll, checkedCount
        const containerForm = $('form[name="container-form"]')
        const deletedForm = document.forms['delete-course-form']
        const btnDeleteCourse = $('#btn-delete-course')
        const checkboxAll = $('#checkbox-all')
        const courseItemCheckbox = $('input[name="courseIds[]"]')
        const btnCheckAllSubmit = $('.btn-check-all-submit')

        $('#deleteModal').on('show.bs.modal', (event) => {
            const button = $(event.relatedTarget)
            counseId = button.data('id')
        })

        btnDeleteCourse.on('click', () => {
            deletedForm.action = '/courses/' + counseId + '?_method=DELETE'
            deletedForm.submit()
        })

        // Checkbox all changed
        checkboxAll.change(function () {
            isCheckedAll = $(this).prop('checked')
            courseItemCheckbox.prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn()
        })

        // Course item checkbox changed
        courseItemCheckbox.change(function () {
            checkedCount = $('input[name="courseIds[]"]:checked').length
            isCheckedAll = courseItemCheckbox.length === checkedCount
            checkboxAll.prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn()
        })


        // Re-render check all submit button
        function renderCheckAllSubmitBtn() {
            checkedCount = $('input[name="courseIds[]"]:checked').length
            if (checkedCount > 0) {
                btnCheckAllSubmit.attr('disabled', false)
            } else {
                btnCheckAllSubmit.attr('disabled', true)
            }
        }
    })
</script>